@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
body {
  background: #8ee3c8;
  font-family: "Roboto Mono", monospace;
}
p {
  margin: 10px;
  padding: 10px;
  border: 4px dashed #2d2d2d;
  background: #63dfb7;
}
.App {
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 5px solid #2d2d2d;
}
button {
  background: #2d2d2d;
  padding: 5px;
  border: none;
  margin: 10px;
  color: white;
  font-family: "Roboto Mono", monospace;
}
button:active {
  padding: 10px;
  border: none;
  color: white;
}
ul li {
  list-style-type: none;
  display: inline;
  margin-right: 15px;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #2d2d2d;
  font-weight: bolder;
  border-bottom: 2px solid #2d2d2d;
  margin: 10px;
  padding: 3px;
}
a:hover {
  background: #2d2d2d;
  color: white;
}
